absl-py==0.5.0
astor==0.7.1
click==6.7
cycler==0.10.0
dlib==19.15.0
et-xmlfile==1.0.1
face-recognition==1.2.1
face-recognition-models==0.3.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
imutils==0.5.1
jdcal==1.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==2.2.3
numpy==1.15.1
opencv-python==3.3.1.11
openpyxl==2.5.8
Pillow==5.3.0
protobuf==3.6.1
pyparsing==2.2.0
PyQt5==5.10
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
sip==4.19.8
six==1.11.0
tensorboard==1.11.0
tensorflow-gpu==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
